{% extends 'admin/admin_base.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            {{ form_start(form)}}
             <div class="col-12">
                 <div class="form-group">

                        {{ form_row(form.locale,{
                            'attr': {
                                'class': 'form-control'
                            }
                        }) }}
                 </div>
                 <div class="form-group">
                     {{ form_row(form.title,{
                         'attr': {
                             'class': 'textarea form-control'
                         }
                     }) }}
                 </div>
                 <div class="form-group">
                     {{ form_widget(form.body,{
                         'attr': {
                             'class': 'form-control'
                         }
                     }) }}
                 </div>
                 <div class="form-group form-file-upload form-file-multiple">
                     {{ form_row(form.photo,{
                         'attr': {
                             'class': 'form-control inputFileVisible'
                         }
                     }) }}

                 </div>
                 <div class="form-group">
                     {{ form_row(form.save,{
                         'attr': {
                             'class': 'btn btn-success'
                         }
                     }) }}
                 </div>
             </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}