{% extends 'admin/admin_base.html.twig' %}
{% set selected = 'articles' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                            {{ articleTranslation.locale }}
                        </div>
                    </div>
                    <div class="card-body">
                        <small class="text-secondary">Заголовок</small>
                        <h2 class="card-title">{{ articleTranslation.title }}</h2>
                        <small class="text-secondary">Опис статті</small>
                        <p>
                            {{ articleTranslation.description }}
                        </p>
                        <small class="text-secondary">Зміст статті</small>
                        <p>
                            {{ articleTranslation.body }}
                        </p>
                        <small class="text-secondary">Дії</small>
                        <br>
                        <button type="button" rel="tooltip" class="btn btn-success" onclick="window.location.href='{{ path('updateArticleTranslation',
                                {'id': articleTranslation.article.id,'translation_id': articleTranslation.id }) }}'">
                            <i class="material-icons">edit</i>
                        </button>
                        <button type="button" rel="tooltip" class="btn btn-danger" onclick="window.location.href='{{ path('deleteArticleTranslation',{'id': articleTranslation.id}) }}'">
                            <i class="material-icons">close</i>
                        </button>
                    </div>

                </div>
            </div>
    </div>
{% endblock %}