<div class="tab-pane" id="slide-{{slide}}">
    <div class="row">
        {% for i in 0..3 %}
            <div class="col-3">
                <div class="slide-section">
                    <div class="no-picture">
                        {{ counter }}
                        <div class="add-picture" title="Додати малюнок" data-url="{{ path('picturesAddOnSlider',{'pos': counter}) }}">
                            <i class="fas fa-plus-circle"></i>
                        </div>
                        {% set counter = counter + 1 %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row mb-3 mt-3">
        <div class="col-12">
            <div class="space-section"></div>
        </div>
    </div>
    <div class="row">
        {% for i in 3..6 %}
            <div class="col-3">
                <div class="slide-section">
                    <div class="no-picture">
                        {{ counter }}
                        <div class="add-picture" title="Додати малюнок" data-url="{{ path('picturesAddOnSlider',{'pos': counter}) }}">
                            <i class="fas fa-plus-circle"></i>
                        </div>
                        {% set counter = counter + 1 %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>