{% extends 'admin/admin_base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-nav-tabs card-plain">
                <div class="card-header card-header-warning">
                    <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                {% if sliderContainer.slides is not empty %}
                                {% for slide in sliderContainer.slides %}
                                <li class="nav-item">
                                    <a class="nav-link {% if loop.index == 1 %}active{% endif %}" href="#slide-{{ loop.index }}" data-toggle="tab">Слайд {{ loop.index }}</a>
                                </li>
                                {% endfor %}
                                {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#slide-1" data-toggle="tab">Слайд 1</a>
                                </li>
                                {% endif %}
                                <li class="nav-item ml-2">
                                    <button id="addSlide" data-slide="{{ sliderContainer.countSlides + 1 }}" class="btn btn-secondary btn-round">Додати слайд &nbsp&nbsp<i class="fas fa-plus-circle"></i></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content text-center">
                        {% set counter = 1 %}
                        {% if sliderContainer.slides is not empty %}
                        {% for slide in sliderContainer.slides %}
                        <div class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="slide-{{ loop.index }}">
                            <div class="row">
                                {% for i in 0..3 %}
                                    {% if slide.position(counter) is not null %}
                                        <div class="col-3">
                                            <div class="slide-section">
                                                 <img src="/uploads/pictures/{{ slide.position(counter).photo }}" alt="">
                                            </div>
                                            {% set counter = counter + 1 %}
                                        </div>
                                    {% else %}
                                        <div class="col-3">
                                            <div class="slide-section">
                                                <div class="no-picture">
                                                    {{ counter }}
                                                    <div class="add-picture" title="Додати малюнок" data-url="{{ path('picturesAddOnSlider',{'pos': counter}) }}">
                                                        <i class="fas fa-plus-circle"></i>
                                                    </div>
                                                    {% set counter = counter + 1 %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="row mb-3 mt-3">
                                <div class="col-12">
                                    <div class="space-section"></div>
                                </div>
                            </div>
                            <div class="row">
                            {% for i in 3..6 %}
                                {% if slide.position(counter) is not null %}
                                    <div class="col-3">
                                        <div class="slide-section">
                                            <img src="/uploads/pictures/{{ slide.position(counter).photo }}" alt="">
                                        </div>
                                        {% set counter = counter + 1 %}
                                    </div>
                                {% else %}
                                    <div class="col-3">
                                        <div class="slide-section">
                                            <div class="no-picture">
                                                {{ counter }}
                                                <div class="add-picture" title="Додати малюнок" data-url="{{ path('picturesAddOnSlider',{'pos': counter}) }}">
                                                    <i class="fas fa-plus-circle"></i>
                                                </div>
                                                {% set counter = counter + 1 %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="tab-pane active" id="slide-1">
                            <div class="row">
                                {% for i in 0..3 %}
                                    <div class="col-3">
                                        <div class="slide-section">
                                            <div class="no-picture">
                                                {{ counter }}
                                                <div class="add-picture" title="Додати малюнок" data-url="{{ path('picturesAddOnSlider',{'pos': counter}) }}">
                                                    <i class="fas fa-plus-circle"></i>
                                                </div>
                                                {% set counter = counter + 1 %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="row mb-3 mt-3">
                                <div class="col-12">
                                    <div class="space-section"></div>
                                </div>
                            </div>
                            <div class="row">
                                {% for i in 3..6 %}
                                    <div class="col-3">
                                        <div class="slide-section">
                                            <div class="no-picture">
                                                {{ counter }}
                                                <div class="add-picture" title="Додати малюнок" data-url="{{ path('picturesAddOnSlider',{'pos': counter}) }}">
                                                    <i class="fas fa-plus-circle"></i>
                                                </div>
                                                {% set counter = counter + 1 %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div id="counter" style="display: none" data-counter="{{ counter }}"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}